@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
 *, *:before, *:after {
	 box-sizing: border-box;
}
 body {
	 background: #D69D90;
	 font: 14px/20px "Lato", Arial, sans-serif;
	 padding: 40px 0;
	 color: white;
}
 .container {
	 margin: 0 auto;
	 width: 750px;
	 background: #444753;
	 border-radius: 5px;
	 display: grid;
	 grid-template-columns: 1fr 1fr;
}
.clearfix {
	overflow: auto;
  }

 img {
	width: 100px;
    height: 100px;
    border-radius: 50%;
 } 
 .people-list {
	 width: 260px;
	 float: left;
}
 .people-list .search {
	 padding: 20px;
}
 .people-list input {
	 border-radius: 3px;
	 border: none;
	 padding: 14px;
	 color: white;
	 background: #6a6c75;
	 width: 90%;
	 font-size: 14px;
}
 .people-list .fa-search {
	 position: relative;
	 left: -25px;
}
 .people-list ul {
	 padding: 20px;
	 height: 770px;
}
 .people-list ul li {
	 padding-bottom: 20px;
}
 .people-list img {
	 float: left;
}
 .people-list .about {
	 margin-top: 8px;
}
 .people-list .about {
	 padding-left: 8px;
}
 .people-list .status {
	 color: #6c8ead;
}
 .chat {
	 width: 490px;
	 float: left;
	 background: #f2f5f8;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
	 color: #434651;
}
 .chat .chat-header {
	 padding: 20px;
	 border-bottom: 2px solid white;
}
 .chat .chat-header img {
	 float: left;
}
 .chat .chat-header .chat-about {
	 float: left;
	 padding-left: 10px;
	 margin-top: 6px;
}
 .chat .chat-header .chat-with {
	 font-weight: bold;
	 font-size: 16px;
}
 .chat .chat-header .chat-num-messages {
	 color: #6c8ead;
}
 .chat .chat-header .fa-star {
	 float: right;
	 color: #d8dadf;
	 font-size: 20px;
	 margin-top: 12px;
}
 .chat .chat-history {
	 padding: 30px 30px 20px;
	 border-bottom: 2px solid white;
	 overflow-y: scroll;
	 height: 575px;
}
 .chat .chat-history .message-data {
	 margin-bottom: 15px;
}
 .chat .chat-history .message-data-time {
	 color: #86a2bc;
	 padding-left: 6px;
}
 .chat .chat-history .message {
	 color: white;
	 padding: 18px 20px;
	 line-height: 26px;
	 font-size: 16px;
	 border-radius: 7px;
	 margin-bottom: 30px;
	 width: 90%;
	 position: relative;
}
 .chat .chat-history .message:after {
	 bottom: 100%;
	 left: 7%;
	 border: solid transparent;
	 content: " ";
	 height: 0;
	 width: 0;
	 position: absolute;
	 pointer-events: none;
	 border-bottom-color: #94c2ed;
	 border-width: 10px;
	 margin-left: -10px;
}
 .chat .chat-history {
	 background: #94c2ed;
}
 .chat .chat-history .other-message {
	 background: #EDAEAB;
}
 .chat .chat-history .other-message:after {
	 border-bottom-color: #EDAEAB;
	 left: 93%;
}
 .chat .chat-message {
	 padding: 30px;
}
 .chat .chat-message textarea {
	 width: 100%;
	 border: none;
	 padding: 10px 20px;
	 font: 14px/22px "Lato", Arial, sans-serif;
	 margin-bottom: 10px;
	 border-radius: 5px;
	 resize: none;
}
 .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
	 font-size: 16px;
	 color: gray;
	 cursor: pointer;
}
 .chat .chat-message button {
	 float: right;
	 color: #EDAEAB;
	 font-size: 16px;
	 text-transform: uppercase;
	 border: none;
	 cursor: pointer;
	 font-weight: bold;
	 background: #f2f5f8;
}
 .chat .chat-message button:hover {
	 color: #EDAEAB;
}
 .online, .offline, .me {
	 margin-right: 3px;
	 font-size: 10px;
}
 .online {
	 color: #94c2ed;
}
 .offline {
	 color: #edaeab;
}
 .me {
	 color: #EDAEAB;
}
 .align-left {
	 text-align: left;
}
 .align-right {
	 text-align: right;
}
 .float-right {
	 float: right;
}
 .clearfix:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
}
.list {
	display: inline-block;
}

.msg {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
  }
  .msg:last-of-type {
	margin: 0;
  }
  .msg-img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background: #ddd;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
  }
  .msg-bubble {
	max-width: 450px;
	padding: 15px;
	border-radius: 15px;
	background: #D69D90;
  }
  .msg-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .left-msg .msg-bubble {
	border-bottom-left-radius: 0;
	
  }
  
  .right-msg {
	flex-direction: row-reverse;
	
  }
  .right-msg .msg-bubble {
	background: #6c8ead;
	color: #fff;
	border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
	margin: 0 0 0 10px;
  }

  .msger-send-btn {
	margin-left: 10px;
  }
  .msger-send-btn:hover {
	background: 
  }